[2014-05-02 15:03] lewisnyman opened #1 "Decide on an initial IA"
What categories are we going to have?

[2014-05-02 15:05] lewisnyman opened #4 "Add discussion aka comments"
http://eviltrout.com/2014/01/22/embedding-discourse.html

[2014-05-09 09:34] lewisnyman opened #9 "Create a 'principles' page"

[2014-05-09 09:35] lewisnyman opened #11 "Create a 'holiday' page"

[2014-05-09 09:35] lewisnyman opened #12 "Create a 'remote working' page"

[2014-06-26 07:14] lewisnyman opened #16 "Rethink the WunderWay IA"
The Who, How, Why sections are too vague and unbalanced.

[2015-01-05 11:02] lewisnyman opened #17 "Create a '1password keychain' page"

[2015-01-05 11:03] lewisnyman opened #18 "Create a 'WunderClubs' page"
List all the non-work digital services we use together.

* Mapmyfitness
* Goodreads
* ??

[2015-05-01 10:01] lewisnyman commented on #1
Closing in favour of https://github.com/WunderRoot/WunderWay/issues/16

[2015-05-01 10:01] #1 closed

[2015-05-01 10:01] lewisnyman opened #19 "Move the Hipchat repo notifications to a non-UK room"

[2015-05-01 10:03] lewisnyman opened #20 "Move the repo under the 'wunderkraut' organisation"

[2015-05-01 10:07] lewisnyman opened #21 "Move the wunderway to http://way.wunder.io/ or another non-UK domain"

[2015-05-01 10:08] #4 closed

[2015-05-01 10:09] lewisnyman opened #22 "Replace the team page with wunderhub integration"

[2015-05-01 10:10] lewisnyman opened #23 "Document the process for add/changing wunderway content"
I think we should move to a pull request workflow, as all changes need to be peer reviewed and discussed

[2015-05-01 10:11] lewisnyman opened #24 "Replace all UK specific content with more generic equivalents"

[2015-05-01 10:12] joesb commented on #21
Prob need to think about including a redirect from http://way.wunder.co.uk/ too (or making a new task for that).

[2015-05-01 10:36] #20 closed

[2015-05-01 10:44] lewisnyman commented on #19
testing notifications

[2015-05-01 10:45] lewisnyman commented on #19
testing notifications

[2015-05-01 10:45] #19 closed

[2015-05-01 10:47] lewisnyman commented on #21
@joesb I don't think I have the domain details, do you?

[2015-05-01 10:52] joesb commented on #21
Yep @lewisnyman I've got the details for the DNS stuff. I'll dig them out and pass them to you on a PM or or something

[2015-05-01 13:48] #11 closed

[2015-05-01 15:23] #22 closed

[2015-05-01 15:54] lewisnyman opened #26 "Create a 'wunderhub' page"

[2015-05-05 15:03] WunderLemon opened #28 "Fix broken link – Security page"
Borked link
from Security page http://way.wunder.io/security/
to Non-Wunderkraut equipment page http://way.wunder.io/security/none-Wunderkraut-equipment

[2015-05-05 15:48] WunderLemon opened #29 "Fix broken link – download created for 'Content migration'"
Second link down on Work With Us page http://way.wunder.io/workwithus/
creates a download rather than linking through to 'Content migration' page

[2015-05-05 16:22] WunderLemon opened #30 "Fix broken links – Clients – Winning new clients"
2 links broken on 'Winning new clients' page
http://way.wunder.io/clients/winning-new-clients/
– Agreement
– Set Up for Delivery

[2015-05-05 16:39] WunderLemon opened #31 "Fix broken link – Work with us"
Download created when clicking 'Content migration' on Work with us page http://way.wunder.io/workwithus/

[2015-05-15 13:07] WunderLemon opened #32 "Images not displaying – Examples of Drupal on the web"
No screen grabs displaying here:
http://way.wunder.io/workwithus/examples-of-drupal-on-the-web/

[2015-05-16 00:56] #31 closed

[2015-05-16 01:02] steveparks commented on #16
How about...

Our Brand
Our Clients
Our Team
Our Tools

As the top level items?

Then the secondary levels could expand. Eg 'Our Tools' could include:
 - Software
 - Expertise
 - Processes

[2015-05-16 01:03] #28 closed

[2015-05-16 01:14] #30 closed

[2015-05-16 01:18] #32 closed

[2015-05-16 01:21] steveparks commented on #29
Duplicate of #31

[2015-05-16 01:21] #29 closed

[2015-05-26 13:29] WunderLemon opened #33 "Image not displaying – Agile delivery diagram"
http://way.wunder.io/projects/agile-delivery-diagram/

[2015-05-26 13:37] #33 closed

[2015-05-26 13:41] steveparks opened #34 "Change Hipchat room that wunderway messages appear in"
The Wunderway repo currently posts commit messages etc in the Wunder Cafe in Hipchat - but this is becoming quite noisy.

It'd probably be best to setup a WunderWay hipchat channel, that is openly accessible within wunder, and have messages posted there

[2015-05-26 13:45] mikaelkundert commented on #34
We have chat room for internal infra and tools dev. Not sure is it used only in Finland but maybe something similar could go global and attach integration to that channel?

[2015-05-26 13:48] lewisnyman commented on #34
We could add a room, but I don't want it to become something that is never looked at as changes to the wunderway should be very discussion based, I've removed notification for stars and pushes, so we shouldn't get notified for minor changes like typos and bugs.

Major changes should follow the pull request/peer review workflow, see #23

[2015-05-26 13:49] WunderLemon opened #35 "Image not displaying – project workflow"
See very end of http://way.wunder.io/projects/project-delivery-intro/

[2015-05-26 13:49] lewisnyman commented on #24
Fixed in #27

[2015-05-26 13:49] #24 closed

[2015-05-26 13:49] mikaelkundert opened #36 "Wundertalk about WunderWay tool?"
We have people who are new to WunderWay tool. It would be nice to show this tool and create an crash course how to maintain content on it especially for people in administration.

I can think of at least following topics:
* GitHub Issues
* GitHub Pull Requests
* What is technical and what is content in the repo
* How to code markdown + is there tools to preview it (or even better GUI tools for mai

[2015-05-26 13:50] WunderLemon commented on #34
Is there something different I can do so my niggly issues don't appear?

[2015-05-26 13:50] #35 closed

[2015-05-26 13:57] lewisnyman commented on #34
There is no way to only notify for certain issues, it seems to do all or nothing as far as I know.

[2015-05-26 14:04] WunderLemon commented on #34
Can it eliminate issues I create from HipChat? Mine will mostly be small things I should imagine, at least for now.

[2015-05-26 14:16] lewisnyman commented on #36
This is a good idea, I hope we can flesh out [this page](http://way.wunder.io/how/how-edit-wunderway/) a lot and base the wundertalk on that, as soon as we are agreed on the new PR-based workflow

[2015-05-26 14:45] WunderLemon opened #37 "Images too wide"
On new pages showing WunderCamp 2014 notes:
http://way.wunder.io/company/wunder-person/
http://way.wunder.io/how/distributed-working/

[2015-05-26 15:13] WunderLemon opened #38 "Images not displaying"
http://way.wunder.io/how/sip-phone-setup/

[2015-05-26 15:43] #37 closed

[2015-05-26 19:49] lewisnyman commented on #16
Alex's content review - https://docs.google.com/spreadsheets/d/116NxfQzUJjAOiKbqe-aws-6a5Q5eEJuzM2-vR2_PjIw/edit#gid=1986152902
First draft - http://bquniy.axshare.com/#p=introduction

[2015-05-26 19:56] #38 closed

[2015-05-26 19:57] lewisnyman commented on #16
Some inspiration:
https://www.wearesantander.co.uk/documents/16600/7215102/Employee+Handbook+09.12.13
http://us.boehringer-ingelheim.com/content/dam/internet/opu/us_EN/documents/careers/eehandbk_june_09.pdf

[2015-05-27 14:10] steveparks commented on #16
Some other inspiration...
https://www.valvesoftware.com/company/Valve_Handbook_LowRes.pdf

[2015-05-27 14:17] steveparks commented on #16
Another thought...
Could we somehow align the sections with the aspirations, strategy or behaviours in our branding? Would show how it all fits together, and reinforce what we're about.

[2015-05-27 15:08] lewisnyman commented on #16
We could try, I think it's a good idea to try and bake elements of the brand into the content instead of keeping it hidden away on a page no one reads.

Do you have a suggestion for we could base a structure around them? I imagine the broadness of the words could make it harder to find your way around. Is it clear. The principles are all aligned to how we do things, not what we do. I'm trying to i

[2015-05-28 13:21] steveparks commented on #23
All looks like a good plan. There are some typos to be fixed, but I'm not sure about how to edit those when this is just a pull request?

[2015-05-28 16:42] lewisnyman commented on #23
You can view the changes, make comments per line, and edit typos in this view: https://github.com/wunderkraut/WunderWay/pull/40/files

You should see an edit button but each file like you do in the repository file browser. Also see: https://help.github.com/articles/using-pull-requests/#reviewing-the-pull-request

[2015-05-28 16:42] lewisnyman commented on #23
I can write more documentation about how to review PRs but I thought linking to Githubs own documentation was enough

[2015-05-28 17:12] steveparks commented on #23
Ah yes - you’re right.

I got lost in the meta maze here. I just proof read the text, and didn’t follow the links in it, to find the steps to edit the text within the pull request… if you see what i mean ;)

Will follow steps later

—Steve Parks

Director, Consultant

Wunder UK

http://www.wunder.uk

Nurturing Growth and Success in Digital Business

On Thu, May 28, 2015 at 5:43 PM, Lewis Nyman <no

[2015-05-29 11:10] WunderLemon commented on #16
There may be some aspects of branding vocabulary we can bring into section names but, like Lewis, I think it's better to keep naming familiar. Content is the best place for expressing branding in a natural, believable way.

I also agree about an orientation page being a good place for elucidating principles and explaining Wunderers can live by them in their everyday work.

[2015-06-02 08:10] tormi opened #42 "Broken link in /company/ambition/"
Broken link <a href="/project-delivery/qms/">QMS</a> in /company/ambition/

[2015-06-02 11:29] steveparks opened #44 "Co-ordinate with the DriveWay team"
A team has formed to sort out the structure of the Google drive folders.

They are gathering notes in this doc: https://docs.google.com/spreadsheets/d/1dzXjFXPCeKskaA_SP-VSuOCl_WxzBgUV65rkaA2CtPI/edit#gid=0

Some things may be able to be moved to the Wunderway from drive.

[2015-06-05 08:50] WunderLemon opened #46 "Create always-visible navigation which highlights location"

[2015-06-05 12:52] #42 closed

[2015-06-05 12:53] #23 closed

[2015-06-05 16:12] lewisnyman opened #48 "Improve the homepage as an introduction to the company and wunderway"

[2015-06-05 16:17] #16 closed

[2015-06-05 16:31] #21 closed

[2015-06-05 16:33] joesb commented on #21
Redirection is an HTTP task rather than DNS, so I've just set http://way.wunder.co.uk/ to CNAME to  hub.wunder.io, and used the nginx there to redirect way.wunder.co.uk > way.wunder.io

The redirect is set to include the request in it, so e.g.
http://way.wunder.co.uk/how/ » http://way.wunder.io/how/

Job done.

[2015-06-08 11:19] steveparks opened #50 "Updated IA seems to have broken links"
On the page at http://way.wunder.io/working-with-clients/

The links to pages no longer work, returning a 404.

I guess that the changes brought in for the new IA may have affected the way paths are generated.

[2015-06-08 11:20] steveparks commented on #50
So pages did have the first part of the path as 'clients/'
But it should now be 'working-with-clients/'
on all links in the client section

[2015-06-08 15:23] lewisnyman commented on #50
Yep, there could be a few broken links around the place as we've changed a
lot of paths.

On Monday, 8 June 2015, Steve Parks <notifications@github.com> wrote:

--
Lewis Nyman
+447753103690
lewisnyman.co.uk <http://www.lewisnyman.co.uk>
@lewisnyman <http://twitter.com/lewisnyman>

[2015-06-08 17:04] #48 closed

[2015-06-15 13:58] oxyc commented on #12
Bump. I'd be interested in reading it before sending an application :grinning:

[2015-06-19 11:45] WunderLemon opened #53 "All links broken in contents list of Working-at-Wunderkraut/security"
http://way.wunder.io/working-at-wunderkraut/security/

[2015-06-26 13:15] huntons opened #54 "Git Wunderflow"
Following is a document that Janne Koponen (Helsinki) has put together to describe Git best practices. This needs some discussion with senior developers around the group to see if we can agree to adopt this as a WunderStandard. See http://wunderflow.wunder.io/

If WunderCon is to happen soon then that's the best place to have the discussion. If not then we can arrange a hangout to kick this off.

[2015-06-30 14:09] lewisnyman opened #57 "Create a section on staying healthy at work"
I received  lot of great tips and information from https://twitter.com/RonaiBrumett at the Twin Cities Drupal Camp. She said she was going to send me an email with loads of easily digestible information. I'd really like to share this with the group.

[2015-06-30 15:06] huntons commented on #57
I've recently started a page for this - http://way.wunder.io/working-at-wunderkraut/wunder-fitness/

[2015-06-30 15:08] lewisnyman commented on #57
@huntons Ah nice, do you mind if I build it into multiple sections? Do you think 'WunderFitness' is a sub-section of 'staying healthy at work'? I don't want people to think the whole section is about running.

[2015-06-30 15:14] huntons commented on #57
Yes, this all ties in with the "great reasons to work here" conversation. We should be clear that it's about walking, running, cycling, swimming. FlorianH even counts his pressups!

[2015-06-30 15:17] joesb commented on #57
… yes, and eating healthily, taking regular breaks, some working practice options like standing desks, ergonomic keyboards maybe, etc etc

[2015-07-01 07:53] huntons commented on #57
It's a good chance to include some nice pics in the section to show our home office setups, explain the benefits of each etc

[2015-07-01 09:54] joesb opened #58 "Create a page about sharing passwords securely"
E.g. a workflow using 1Password:

- Exported .agilekeychain vault file in a Wunder GoogleDrive space
- synced between colleagues with GoogleDrive app
- need vault password to unlock, which can store in personal 1Password vault
- etc.

Other options for doing it? e.g. with Lastpass?

[2015-07-01 20:34] huberfl commented on #58
An alternative approach:
* Dropbox folder with encrypted files in it
* use encfs to mount it and read the files

This solution is supported well in Linux, which is a requirement

[2015-07-07 07:49] steveparks commented on #58
A key criteria for this is ease of use by non-technical colleagues

[2015-07-07 10:01] jcnventura commented on #58
Both suggestions above (1password or encfs) can use both Google Drive and Dropbox interchangeably.

[2015-07-07 14:25] huntons opened #63 "WunderExperts Groups"
We need a page to list who is involved in each expert group so that people in each country know who to turn to if they have a specific question or if they want to talk through a new idea or initiative

[2015-07-07 14:28] joesb commented on #63
Nice idea.

The 'Technology Taskforce' group is:

* Florian Lorétan
* Tomi Mikola
* Joe Baker
* Teemu Merikoski
* Miķelis Zaļais
* Dieter Beheydt
* Tomas Persson
* Ardi Hundt

[2015-07-07 14:29] huntons commented on #53
Fixed. See https://github.com/wunderkraut/WunderWay/pull/61

Sorry, I forgot to auto-close this issue.

[2015-07-07 14:29] #53 closed

[2015-07-07 14:52] reinhardweber commented on #58
We need clear acceptance criteria for the solution. I have created a first draft at https://goo.gl/3ioDGF.
Pls check if they also reflect yours. Feel free to comment/add/edit there so we get a clearer picture what we really want and need.

[2015-07-07 16:30] lewisnyman opened #65 "Migrate the hipchat documentation to the wunderway"
https://docs.google.com/document/d/18R-RglYUJuLOYT-D2LxbtxkTLQNBlNB1Vf91SwbLA8c/edit#heading=h.f5f60flholid

[2015-07-07 16:35] huntons commented on #65
Where do you propose we link to this from?

[2015-07-07 16:39] lewisnyman commented on #65
http://way.wunder.io/working-at-wunderkraut/communicating/

[2015-07-08 11:45] huntons commented on #65
Go for it!

[2015-07-13 08:38] blangry opened #67 "SIP details"
http://way.wunder.io/working-at-wunderkraut/equipment-and-expenses/sip-phone-setup/

SIP details are out of date - server settings for 193.xx.xx.xx shoud be replaced by pop8.orbvoip.com

[2015-07-13 09:11] james-nesbitt commented on #58
Please consider the various p2p options, that require no server or 3rd party service:

(most options use libtorrent to distribute a folder amongst a group)

1. syncthing: OSS, written in go,  (https://syncthing.net/)
2. torrentsync: Not so open source, has a paid option, very polished (https://www.getsync.com/)

PROs:
- OSS solutions avaialble;
- Potentially no 3rd party involvement required;
- No

[2015-07-13 10:57] huntons commented on #67
Updated. See https://github.com/wunderkraut/WunderWay/pull/69

[2015-07-13 10:57] #67 closed

[2015-07-13 13:34] lewisnyman opened #70 "Add a 'branding guidelines' page."
Simple things like how to use the logo, say the name, use the WunderSuffixes, etc

Feel free to add more guidelines to this list, although I think detailed documentation could exist in a separate brand styleguide

[2015-07-13 15:01] marcusx opened #71 "All links on "http://way.wunder.io/working-at-wunderkraut/new-starter/" are broken."
The following links are broken:
- http://way.wunder.io/how/new-starter/buddies/
- http://way.wunder.io/how/sip-phone-setup/
- http://way.wunder.io/how/how-claim-expenses/
- http://way.wunder.io/how/fridays/
- and all other links on this page

[2015-07-13 15:59] huntons commented on #70
I'd like to see links to image files too. I've had a number of requests from people who can't find the logo.

[2015-07-13 16:02] marcusx opened #73 "The competitor analyses spreadsheet mentioned on "Winning Clients - Discovery" is missing"
On http://way.wunder.io/working-with-clients/winning-new-clients/winning-clients-discovery/ there is a link to  "TOOL: Competitor Analysis Worksheet" but it is missing and a search in drive didN#t bring up anything like that.

[2015-07-13 16:06] marcusx opened #74 "Right click is deactivate in the whole wunderway docs."
Is there a reason that copy & paste is not allowed? Especially in the snippets section this makes no sense from my perspective.

[2015-07-13 16:10] marcusx commented on #73
I change the title. It seem on all places where a "TOOL" in drive is linked I get an "Sorry, the file you have requested does not exist."

[2015-07-14 08:46] joesb commented on #58
Right, I'm going to tackle writing this today. My approach is to **just write something** and then we can improve it iteratively subsequently.

MVP » Iterate.

I agree with @reinhardweber that we could do with a thorough discussion, but I don't think we need to wait for a conclusion to that discussion before getting some helpful suggestions in place - and once we *do* have some conclusions from th

[2015-07-14 08:51] huberfl commented on #12
I have gathered some input on how to improve the speed of the bonding process of a remote team. Bottom line:
* put the team (including the customer) in one place for the first week(s) of the project
* celebrate milestones and events
* facetime, facetime, facetime (and if it's just by video)

[2015-07-14 10:57] lewisnyman commented on #74
@marcusx Are you able to give me more information to recreate this? Which page were you on? Which browser/OS are you using? Right click seems to work for me.

[2015-07-14 12:17] lewisnyman commented on #50
Closing this in favour of individual issues

[2015-07-14 12:17] #50 closed

[2015-07-14 12:41] lewisnyman opened #76 "Move the WunderWay to our own hosting"
Github pages is limited. We can't add custom jekyll plugins to our build process.

It would be great to have the same simplicity but with the ability to have custom jekyll plugins so we can enhance the site.

[2015-07-14 13:21] lewisnyman opened #77 "Add automated testing for broken links"
https://twitter.com/furzeface/status/620939783460814848

https://twitter.com/furzeface/status/620939836183199744

[2015-07-14 13:35] marcusx commented on #74
@lewisnyman weird. I can't reproduce it either. I used chrome on OSX and couldn't fix it by restarting Chrome yesterday. But it seems to be healed overnight. I will reopen the issue if I see it again.

[2015-07-14 13:35] #74 closed

[2015-07-14 15:10] joesb commented on #71
I'll take a stab at this

[2015-07-14 15:15] joesb commented on #71
Aah, already closed.

[2015-07-14 15:15] #71 closed

[2015-07-14 15:20] joesb commented on #73
I'll take this one, see if I can work out where these links should go

[2015-07-14 15:24] joesb commented on #73
Hmm, actually this might need @steveparks or @huntons to look at these broken links - I'm not sure what I'm trying to find in Google Drive. :(

[2015-07-15 08:28] huntons commented on #73
I've already asked Heikki and SteveP for their input on this one

On Tue, Jul 14, 2015 at 4:24 PM, Joe Baker <notifications@github.com> wrote:

--
Steve Hunton
UK Projects & Operations Manager
Wunder UK

Check out our Healthy Web Projects <http://wunder.uk/healthy-web-projects>

email: steve.hunton@wunder.uk <steve.hunton@wunderroot.com>
phone: 00 44 20 3588 0181

http://www.wunder.uk
Nurturing Gr

[2015-07-15 08:55] joesb commented on #76
I started looking at this a little bit at the tail end of yesterday - just thinking about what might be involved. Doesn't seem too hard, I don't think. The only tricky bit of it would be working out how to use the GitHub post-merge trigger to start a rebuild.

How urgent do we think this is? Do you have an opinion on that @lewisnyman and @huntons? I'm happy to put some time into it this week, if y

[2015-07-15 09:01] huntons commented on #76
Please don't do anything before our audit on Wednesday next week. If it's
unavailable or broken at all then I'll get a big fat fail and a letter home
to my parents!

On Wed, Jul 15, 2015 at 9:55 AM, Joe Baker <notifications@github.com> wrote:

--
Steve Hunton
UK Projects & Operations Manager
Wunder UK

Check out our Healthy Web Projects <http://wunder.uk/healthy-web-projects>

email: steve.hunton@

[2015-07-15 09:02] joesb commented on #76
Word.

[2015-07-15 10:04] lewisnyman commented on #76
It would be great to open up some more potential around the development. We are struggling with the menu structure at the moment. If you had time to look into it but *not* change the URL then it shouldn't affect anything?

[2015-07-16 13:10] #9 closed

[2015-07-16 13:10] #57 closed

[2015-07-16 14:14] joesb commented on #76
A test of an automatically building self-hosted WW is at http://way.wunder.co.uk:8000/

[2015-07-16 14:17] joesb commented on #63
I think this was closed by #64
http://way.wunder.io/about-this-site/wunder-experts-groups/

[2015-07-16 14:17] #63 closed

[2015-07-17 13:19] #58 closed

[2015-07-17 21:54] huberfl opened #83 "Enhance WunderWay editing on local computer"
We need to add some more information on how to edit the WunderWay on a local computer. If we consider contributors without permissions, they might need to fork the WunderWay and follow the pull request workflow.
Also an interesting input with this regards:

[2015-07-19 17:50] lewisnyman commented on #83
Yep, all contributors should follow the PR workflow. We only have some exceptions for those who have permissions to fix typos etc.

The aim is for Wunderway to be editable by someone with non-technical experience. Do you think there is an easy way to explain this without going into the details of how to use Git effectively?

[2015-07-19 19:02] huberfl commented on #83
The easiest way is to edit it in Github, as you have already described it.
If someone wants to have the option for offline editing then there is
hardly a way around the fork-branch-commit-pr workflow. But these are
steps, which can be described fairly straightforward. And there are always
tech people around to help with the start.
Here, it might make sense to offer local WunderWay editing bootcamp

[2015-07-20 12:45] lewisnyman commented on #36
Steve H did this last friday: https://www.youtube.com/watch?v=Hr9aByLra9s&feature=youtu.be

[2015-07-20 12:45] #36 closed

[2015-07-24 07:29] huberfl opened #87 "Jira: Document how to set a new project, users, assign roles"
WK DE is using primarily Jira and the knowledge is mostly with me.
I want to document how to
* create new projects
* assign our default workflows (Scrum or Kanban)
* create new users (Wunderkraut and customers/external)
* assign appropriate permissions

[2015-07-24 07:57] huntons commented on #87
@huberfl this is the first example where we need to add country specific content. I'd suggest we have a small section on this page - http://way.wunder.io/delivering-projects/backlogs-and-planning/ - that links to setting up Rally, Jira and any other country specific tools. That way we keep it all in context and it's easy to update as other countries add their content. Any thoughts @lewisnyman ?

[2015-07-24 11:08] lewisnyman commented on #87
Yep, let's create two sub pages. One for Rally and one for Jira. They can follow a similar heading structure and then it's easy to link to the same subsection on the two pages.

@huberfl, do you want to create the Jira page under the delivering-projects folder. @huntons Then you can create a Rally page that follows the same structure?

[2015-07-24 11:32] huntons commented on #87
Yes, I'll create that page and will link to both from the http://way.wunder.io/delivering-projects/backlogs-and-planning/ page.

[2015-07-24 11:34] huberfl commented on #87
@lewisnyman, yes, I will do.
Thanks @huntons!

[2015-07-24 17:12] lewisnyman opened #89 "Add the presentation skills back somewhere"
There is good content here, maybe this is better in a blog post?

https://github.com/wunderkraut/WunderWay/blob/99b618c85880d0f525887a43fdd0db110e09364f/skills/presentations.md

[2015-07-27 08:25] steveparks commented on #89
I want to start having a selection of pages on Wunder Way on useful skills, with each one pulling together lots of resources into one place. I felt that a blog would be hard to find or remember after a period of time had passed, and it seemed to fit with our other 'how to' stuff here.
So ideally It'd be good to have a Skills section here, and identify others we want to build up pages about.

[2015-07-27 09:31] huntons commented on #89
That would sit nicely under http://way.wunder.io/working-at-wunderkraut/career-development/

In the same way we recommend software and hardware we could also use this to recommend training courses and conferences. It'd be great to have some reviews from people who've attended those.

[2015-07-27 14:02] lewisnyman commented on #89
@steveparks Can you expand on a few more skill-based pages we would have? I'm trying to figure out where this would sit in the IA, because it's important they are introduced in the relevant context instead of kept separate. The 'Help' page in Drupal is really unhelpful for this reason, it's much better to introduce help on the relevant pages.

Presentation skills are very important when working wi

[2015-07-27 14:04] lewisnyman opened #91 "Document WunderX Camp funding opportunities"
We spoken before about anyone being able to organise a WunderCamp and receiving funding for doing so. It would be great if this was visible and documented so everyone could take advantage of this.

[2015-07-27 14:06] lewisnyman commented on #91
I assigned this to @steveparks because I think this requires board-level discussion.

[2015-07-28 08:49] steveparks commented on #89
My ideas for skills pages are things like...

- Organising and chairing meetings
- Writing for business
- Running a workshop
- Effective emails

The kind of non-technical skills that we need to do our jobs and set us apart from the competition.

The intention is that these pages could be linked to from wherever they are needed - so if there's a page in the sales process about writing a proposal it

[2015-07-28 08:51] steveparks commented on #91
Currently this is different in each country, so we either need to capture each country offices approach - or, ideally, find a way to synchronise and have one approach. I'll email the country MDs and board to see if there's an appetite for that, and find out about current approaches.

[2015-07-28 08:57] lewisnyman commented on #91
Great, maybe the differences between each are actually small? If it's just budget, then we can easily list them on the bottom of one page.

[2015-07-29 08:19] huntons opened #92 "Staff Availability Tool"
We need a tool to make the management of staff and their availability easier. I'm trying out Float which is good for:

1. Finding people, looking at their availability
2. Assigning someone to a project for a full or part day
3. Assigning someone to multiple projects
4. Searching for a particular skill
5. Viewing everyone assigned to a particular project
6. Searching by availability
7. Searching by

[2015-07-29 08:31] reinhardweber commented on #92
Interesting, can you share the login?

Reinhard

[2015-07-29 08:40] huntons commented on #92
@reinhardweber a login is on its way

[2015-07-29 08:49] huntons commented on #92
We can also add specific skills (D7, D8, analytics, public sector procurement etc) as tags in each user profile and these become searchable. That will help find very specific skills around the group

[2015-08-04 12:42] huntons opened #95 "Preparing Development Documentation"
Add pages for creating development documentation

[2015-08-04 13:41] james-nesbitt commented on #95
I like to have a "developers orientation" guide, as a google doc in the 30:Development folder of a project.

The purpose of this guide is to immediately orient developers with who is involved in the project, and what tools are being used.
I also like to have some other developer oriented info in there such as Story D.O.D.  and story delivery process, as well as a quick synopsis of the project and

[2015-08-05 08:09] CBones commented on #95
This initiative was started by WunderCare during WunderCon - Developer documentation in project repository using markdown format.
Template is included in https://github.com/wunderkraut/Ansibleref

I started custom module used to automate process https://gitlab.com/cbones/devdocs (template is included too)

[2015-08-05 09:16] joesb commented on #87
Closed by pull request review and merge.

[2015-08-05 09:16] #87 closed

[2015-08-05 09:28] joesb commented on #83
@huberfl Are you saying that the description of editing the WunderWay on a local computer on http://way.wunder.io/about-this-site/how-edit-wunderway/ need adapting?

[2015-08-05 09:37] joesb commented on #95
Yes, I agree with @CBones, having used [MDWiki](http://www.mdwiki.info/) to write documentation for JAC taking a lead from the Ansibleref repo, markdown documentation in the project repo is my preferred approach. MDWiki formatting/display is a really great addition.

@james-nesbitt - totally agree that a 'developers orientation' guide is a key document - we added something similar for JAC and it r

[2015-08-05 11:08] huntons opened #96 "No more CSS in commits"
SASS only!

[2015-08-05 11:10] henrijs commented on #96
For this we need to add some text for developers about how to get css for local development. One page for that hopefully be enough.

[2015-08-05 11:20] huntons opened #97 "What's in and what's not"
We need guidelines to explain what should and shouldn't be included in the WW

[2015-08-05 11:24] lewisnyman commented on #96
+1 to this. I've always found this to be more of a devops problem? Do we need a common setup that compiles Sass on the server?

[2015-08-05 11:27] joesb commented on #96
Yes, I think that's the thought behind this issue. I.e. if we do remove CSS files from themes, then we need to let the 'machines' that display site pages need to be able to (re)compile on command - on the dev/stage/production servers, and also on developers' local machines - and make sure (backend) devs are not frightened of that, know how to do it quickly, etc.

[2015-08-05 11:47] henrijs commented on #96
Compile on build has been working on platform.sh. Very slick. Challenge is local environments and non-them-er developers. Some of them hate theme stack with passion :)

[2015-08-06 10:16] lewisnyman commented on #91
I also think we should include team dinners.

[2015-08-06 11:16] huntons opened #98 "WunderWay IA"
Suggestions from Latvia:

1. Make information easier to find
2. Break down pages such as http://way.wunder.io/delivering-projects/
3. Have a page that displays links to all pages (or adjust the nav to achieve this?)

Not specifically IA but, can we extend the search to look at more than just page titles?

[2015-08-06 11:53] huberfl commented on #98
We could use something like a tree test and card sorting (http://www.measuringu.com/blog/cardsort-tree-test.php, http://www.userzoom.de/uxguide/ux-design-tools-card-sorting-tree-testing/). Would like to experiment with some tools, which we already use (or can use later) in our projects: https://www.optimalworkshop.com/treejack.htm, https://www.optimalworkshop.com/optimalsort.htm, http://www.userzo

[2015-08-06 13:23] lewisnyman commented on #98
A card sort would be good now that we have more people using it. I am unsure if this is a IA problem or just that the navigation UI is bad. Also see: https://github.com/wunderkraut/WunderWay/issues/46

[2015-08-06 14:11] joesb commented on #12
Closed by merging #86

[2015-08-06 14:11] #12 closed

[2015-08-10 07:46] lewisnyman opened #102 "Improve onboarding"
We can use this issue to track ideas and inspiration:
http://basismedia.co.uk/onboarding.html

[2015-08-10 08:11] lewisnyman opened #103 "Document how we communicate"
When should we use email or Hipchat or Jira or Github or Hangouts or something else?

[2015-08-10 08:15] lewisnyman opened #104 "Document how to organise an internal camp"

[2015-08-10 08:32] lewisnyman commented on #104
**Reply from Merle**

We have following traditions for every-year occuring company events:
- Vision Day in Feb/March, half a day. We drive to some place with sauna and discuss last year results, problems, victories and set up new goals for the current year.
- Summerdays in July/August, entire weekend. We drive to the wild nature, official working agenda at the first day, fun and team games later.

[2015-08-10 13:21] huberfl commented on #103
@lewisnyman, Fredrik and I have put some content together in the past. It might be of use here: https://docs.google.com/a/flink-solutions.de/document/d/1r5nua_AZcTNeUbUV_uBZB0NrzPZHz_l9Qg1O9oMijn8/edit?usp=sharing and https://docs.google.com/a/wunderkraut.com/document/d/1hXt1FIfPJNfLMUzTYH7NujNr0a8QlEi0tQjxidcLHy4/edit?usp=sharing

[2015-08-11 08:20] lewisnyman commented on #103
This looks great! Maybe you could start with a pull request to move this into the Wunder Way? Happy to review.

[2015-08-11 21:03] huberfl opened #105 "Document the available options for front-matter"
I would find it helpful to explain, which options (or recommendations) to follow when dealing with the front-matters. The section on how to edit the WunderWay already points into this direction on a basic level, but missing the explanation.

[2015-08-11 22:03] huberfl commented on #103
Sure. I have started a new branch in my repo and will create a PR upon the finalization of the first version.

[2015-08-17 08:44] lewisnyman opened #108 "Add easy to follow bullet points to the security page"
A quick reminder to all of you on our very simple security policy: https://docs.google.com/document/d/1fvCbTTWlxhK-kI_O4xkaD19b3bRq-r8i6-EFuBJggTw/edit#

 1) No automatic logins
 2) Encrypt any devices that you have customer data on
 3) Remote wipe enabled
 4) Unique passwords for each site
 5) Local firewall & VPN enabled if you work on public wifi

[2015-08-17 09:40] marcusx opened #109 "Create page with guidelines how to handle invoices from travel within base country in foreign countries and non Eurozone countries"
How to hand in invoices from travle to customers within your base country?
How to hand in travel expenses in Euro from travel with in EU countries?
How to hand in expenses from non Eurozone countries any specials to lookout here?

[2015-08-19 09:56] joesb commented on #103
I think this is closed by #107 - true?

[2015-08-19 09:56] #103 closed

[2015-08-19 10:29] joesb commented on #76
So, do we have any further thoughts on moving WunderWay to it's own hosting?

It appears to be running fairly smoothly at http://way.wunder.co.uk:8000/ on the UpCloud box - all the updates from PRs/commits are being deployed smoothly to the site there at roughly the same lag as GitHub pages (i.e. about 30 secs after the PR merge).

Do we want to maybe try adding some of those extra Jekyll plugins

[2015-08-19 10:38] huberfl commented on #103
@joesb, yes. Should I have reference 103 in the PR?

[2015-08-19 10:40] joesb commented on #103
Great, good news.

GitHub does have a special syntax for closing issues from Pull Requests (I keep forgetting to use it myself, too!):
https://github.com/blog/1506-closing-issues-via-pull-requests
https://help.github.com/articles/closing-issues-via-commit-messages/

[2015-08-19 10:41] joesb opened #111 "Update Equipment page - IKEA are now selling standing desks"
Update the Standing desks section of the Equipment page at http://way.wunder.io/working-at-wunderkraut/health-and-safety/work-comfortably/equipment/ with links to IKEA's sit/stand desks

http://www.ikea.com/gb/en/catalog/categories/departments/workspaces/18962/
http://www.ikea.com/de/de/catalog/categories/departments/workspaces/18962/
http://www.ikea.com/fi/fi/catalog/categories/departments/worksp

[2015-08-19 11:43] joesb commented on #111
When I added country links I just used the pipe symbol to separate them, to take up as little vertical space as possible and drop any sense of hierarchy, but discovered that Jekyll interpreted that format, pipe separation, as a table.

Any thoughts on that as a display format when trying to remove the UK-centric legacy of WunderWay?

[2015-08-19 11:52] huberfl commented on #103
Thanks

On Wed, Aug 19, 2015 at 12:40 PM Joe Baker <notifications@github.com> wrote:

--

________
Florian Huber - Project Manager, Wunderkraut Germany
florian.huber@wunderkraut.com // phone +49.179.4698130

Wunderkraut. Working wonders with Drupal – http://wunderkraut.com/

Wunderkraut GmbH, MTZ D1.019, Agnes-Pockels-Bogen 1, D-80992 München
HRB191094 Amtsgericht München, Geschäftsführer: Reinhar

[2015-08-19 11:55] huberfl opened #114 "Provide further details on "how to edit the WunderWay""
Provide a short checklist / or enhance the step-by-step for editing the WunderWay in a fork and local branch.
This should also cover the Issue- / PullRequest-workflow and give advise on specialties (e.g. keywords to close issues)
References:
* https://github.com/blog/1506-closing-issues-via-pull-requests
* https://help.github.com/articles/closing-issues-via-commit-messages/

[2015-08-19 11:56] huberfl commented on #83
Yes, @joesb.

[2015-08-19 11:56] huberfl commented on #114
This is a duplicate of #83. I have moved my last comment over.

[2015-08-19 11:56] #114 closed

[2015-08-19 11:56] huberfl commented on #83
Provide a short checklist / or enhance the step-by-step for editing the WunderWay in a fork and local branch.
This should also cover the Issue- / PullRequest-workflow and give advise on specialties (e.g. keywords to close issues)
References:

https://github.com/blog/1506-closing-issues-via-pull-requests
https://help.github.com/articles/closing-issues-via-commit-messages/

[2015-08-19 12:16] lewisnyman commented on #111
Would square brackets work?

On Wednesday, 19 August 2015, Joe Baker <notifications@github.com> wrote:

--
Lewis Nyman
+447753103690
lewisnyman.co.uk <http://www.lewisnyman.co.uk>
@lewisnyman <http://twitter.com/lewisnyman>

[2015-08-19 12:18] lewisnyman commented on #76
If all seems good I would like to migrate and then start enhancing, just
invade we run into any issues.

On Wednesday, 19 August 2015, Joe Baker <notifications@github.com> wrote:

--
Lewis Nyman
+447753103690
lewisnyman.co.uk <http://www.lewisnyman.co.uk>
@lewisnyman <http://twitter.com/lewisnyman>

[2015-08-19 12:51] joesb commented on #111
Yep, square brackets are fine.

The MD table format auto-aligns to avoid a line wrap, but doesn't quite feel like the right method for displaying this. Square-brackets are uglier display, but it works fine.

[2015-08-19 13:09] joesb opened #116 "Update search.js to *include* 'section' pages"
'Section' layout pages in several places have quite a lot of content on them e.g. [Security section page](http://way.wunder.io/working-at-wunderkraut/security/), but these are [specifically excluded in the search.js tool](https://github.com/wunderkraut/WunderWay/blob/gh-pages/search.js#L11) at the moment.

This suggests either a) we're misusing 'section' layout pages by adding text to them, or b)

[2015-08-19 13:50] #111 closed

[2015-08-20 08:57] joesb opened #119 "Add an automatic Table-of-Contents javascript"
Some of the pages on WunderWay are rather long, and it'd be great to add an automatic page table-of-content generator (e.g. inspired by [MDWiki](http://www.mdwiki.info))

Here's a simple js in a Gist that we could use:
https://gist.github.com/Tsagadai/2033552

It'd need some frontend thought and adaptations on the layout for it.

[2015-08-20 09:43] huberfl commented on #119
@yannickoo or @pixelmord, can you be of help here?

[2015-08-20 16:19] joesb opened #121 "Add on-boarding an existing project to 'Delivering Projects' workflow"
The current [Delivering Projects](http://way.wunder.io/delivering-projects/) workflow appears to assume we're working on a new-build site (green-field build), not taking over a legacy system as part of a project (brown-field build).

It would be worth adding a description of steps needed for technical, hosting and knowledge handover and other on-boarding factors.

[2015-08-24 08:32] huntons commented on #108
If we're going to insist on these policies then we'll need to add some descriptions to help people implement them - how to manage auto logins, how to encrypt a harddrive, how to enable remote wipe etc

[2015-08-24 09:09] huntons commented on #109
@marcusx we are likely to need country specific guidelines for this. In the UK we send all invoices to our accountant and he sorts them. Do you already have guidelines in Germany that you could point to?

[2015-08-26 12:31] #116 closed

[2015-08-27 08:49] lewisnyman commented on #119
It looks like we could do this using jekyll but it as it's a custom plugin we'd need self hosting https://github.com/dafi/jekyll-toc-generator

[2015-08-27 09:08] joesb commented on #119
So that Jekyll plugin project looks like we'd need http://www.nokogiri.org/ installed, right? Hence needing the self-hosting. So maybe that means this issue should be paused until we fully migrate to self-hosting?

See #76, which has already progressed.

[2015-08-27 09:16] joesb opened #127 "Add a description of Wunder approach to/protocol for Pull Requests"
Cf. https://github.com/kubernetes/kubernetes/blob/release-1.0/docs/devel/pull-requests.md

This project ^ appears to include this in the project documentation. It's probably not worth asking tech leads to include a Pull Request protocol in their project documentation (cf. issue #95 and PR #123) *unless* it diverges from this (proposed) Wunder protocol.

[2015-08-27 09:31] joesb commented on #95
So, there's a Pull Request for this one now at #123, if someone could review it.

[2015-08-27 10:03] yannickoo commented on #119
Oh okay, cool :)

[2015-08-28 09:31] lewisnyman commented on #108
@alicerichmond This is an example of a mention

[2015-08-28 16:09] lewisnyman opened #129 "Remove unused frontmatter"
There is some legacy front matter in pages that we don't really use anywhere. Let's remove them so it's less confusing.

Section, categories, and tags aren't used in code.

[2015-08-28 16:15] joesb commented on #129
Is section not used? I thought it was in places, but maybe I've misunderstood and it's just done by directory structure?

[2015-09-01 09:49] lewisnyman opened #130 "Document how to move between Wunderkraut offices"
What should happen if someone choose to move countries and moves from office X to office Y? How can we make this easy clear, and comfortable?

[2015-09-07 08:55] joesb opened #134 "Peer review and redraft (if necessary) the 'Sharing passwords securely' page"
To help us progress to ISO 27001 accreditation for information security, we need to ensure that our protocol for password management is robust - that it is actually a secure way of sharing passwords, and that the process is accessible to the non-techie members of the business.

Production page: http://way.wunder.io/working-at-wunderkraut/security/sharing-passwords/
File: https://github.com/wunderk

[2015-09-07 10:50] tomper00 commented on #134
We have been using Lastpass in Sweden for about 4 years now. It works out pretty well from a administrative perspective. Its easy to add / remove new employees.
We try to have the policy of not giving access to the passwords in clear text to the users. That is however up to the person sharing the site so its not followed everywhere.
Some negative things with Lastpass:
-Lastpass does not have the b

[2015-09-07 16:25] huberfl opened #135 "Website launch/go-live: add checklist(s)"
We have several checklists floating around in the Drive. Ideally, we have one central place, from which we reference one (or many templates).
Existing documents can be found at
- SEO relevant https://drive.google.com/a/wunderkraut.com/file/d/0B1GpgWbIXv6TNDNtUk1lZGtYaXM/view?usp=sharing
- Drupal Checklist: https://docs.google.com/a/wunderkraut.com/document/d/18V4wX761JQ4JAxZ62DtoHFV1RbujttT4enKDut

[2015-09-07 16:29] huberfl opened #136 "Document handling of travel/project expenses for WK GER"
Here is the link to "how to deal with.." expenses/meal docu/travel costs: https://goo.gl/txX5Hh
This document can be moved into or at least referenced in the WunderWay.

[2015-09-07 16:35] huberfl opened #137 "Document usage of DelightedApp / NPS"
Input can be provided by Randal.

[2015-09-08 07:15] pixelmord opened #138 "Add a platform specific section to "Start a new project" section"
http://way.wunder.io/delivering-projects/startanewproject/
is very UK specific

[2015-09-08 07:22] pixelmord opened #139 "Add a questionnaire for kickstarting a new project"
http://way.wunder.io/delivering-projects/startanewproject/
We have started to put together some lists with things to clear up at the beginning of a project a (long) while ago.
I suggest adding a link to a google form that holds all those questions.
Here is the old doc:
https://docs.google.com/spreadsheets/d/14zkfkiCPuu0fnZmtnL_RFeWOVHN4BJ1brwlywU05Fv4/edit#gid=0

[2015-09-08 07:24] pixelmord commented on #135
There are also starting points for Google form questionnaires:
https://docs.google.com/a/wunderkraut.com/forms/d/1G9DBicebBsxppiFFdObFUmFq0WnurqeF4f2oZzoaYV4/edit

[2015-09-10 07:56] lewisnyman commented on #135
+1

[2015-09-10 07:57] lewisnyman opened #141 "Add a section on design"
This issue is a good area to pull together planning ideas and post useful resources.

https://twitter.com/wickedgeekie/status/641544457129697280

[2015-09-11 05:59] sjugge commented on #134
Interesting read.

In BE we're using 1password for some time after coming from KeePass.
Our KeePass vault used to be stored in svn which made writing and tracing changes to the vault quite easy.

Our 1password setup is broken down in a handful of vaults;

* personal vault
* development & support projects
* hosting vault
* marcom vault
* mgmt vault

By breaking down the data to these vaults we jail

[2015-09-14 08:58] floretan commented on #135
I meant to do a pull request and ended up pushing to the main branch instead. The first consolidated draft is here: http://way.wunder.io/delivering-projects/pre-launch-checklist/

Some of the points from the mentioned checklist were redundant or obsolete. Given the timeframe, I would make sure all links and practices are based on Drupal 8 otherwise we'll have to revise everything in a few months.

[2015-09-16 13:30] huberfl opened #143 "Update the principles in the WunderWay to match the current version"
Current principles can be found on: http://wunder.uk/about/principles. We should update them in the WunderWay.

[2015-09-17 10:11] #143 closed

[2015-09-17 14:00] lewisnyman commented on #89
In Hipchat we thought that the section “Core Skills” would be a better title.

[2015-09-24 09:21] tcmug commented on #134
In short: most of Finland are using 1Password for personal access (Drupal logins used during development etc.).

We don't share anything via 1Password to my knowledge, but instead the WunderCare team shares hosting related passwords in an encfs file on Dropbox (which I evidently need to question a lot more).

All servers are (or at least should be) using key based authentication only, so no logins

[2015-09-29 09:47] huberfl commented on #65
Shall we just link the document or integrate the whole into the WunderWay, @huntons?

[2015-09-29 09:51] huberfl opened #146 "WunderWay editing guidelines: references vs. pages"
Can we add a section to the WunderWay (http://way.wunder.io/about-this-site/how-edit-wunderway/) about when a reference to Google Drive is recommend and when the content shall be entered into the WunderWay?
An example of this can be found in issue 65.

[2015-09-29 10:03] huntons commented on #65
Because it's not a big document and it's relevant to all Wunderers then I'd suggest we create a new page for this on WunderWay. That way we keep all of the content in one place.

[2015-09-29 10:43] huberfl commented on #65
Actually, #118 has duplicated this issue. Hence, it can be marked done, @huntons

[2015-09-29 11:02] huberfl commented on #83
@joesb and @lewisnyman, do you agree that the current description on http://way.wunder.io/about-this-site/how-edit-wunderway/ about _Editing The WunderWay On Your Local Computer using the Github app_ needs adaption in step 7 and about how to update your local fork?
In general, I think it should look like this (replacing the numbered items starting from 6.):
6. Create a new branch to store/commit y

[2015-10-05 15:00] huberfl opened #147 "Wunder Roles: add our usual roles and their responsibilities"
We have plenty of different roles at Wunder within our projects and supporting them. We need to provide a good and mutually shared understanding of their core responsibilities in order to clearly communicate internally and with our customers.

The list of roles (to be further extended):
* Account Manager
* Project Director
* Project Lead
* Scrum Master
* Product Owner
* Tech Lead
* Managing Direct

[2015-10-05 15:08] huberfl opened #148 "Steering Group Meetings: really ad-hoc?"
On http://way.wunder.io/delivering-projects/review-retro-steering you can read that "Steering group meetings are held on an ad-hoc basis." - As I have found it, we usually have them every two sprints at least.
Should we change the text in order to comply with the bi-sprintly mode?

[2015-10-05 15:19] huntons commented on #148
Yes, these really are ad-hoc for us. We find that with longer term projects we only need to have steering group meetings when we achieve certain targets. If the PO reports that the project is not on track or there is a significant change then we will hold a steering meeting but otherwise we have them every 1-3 months.

[2015-10-05 15:24] huberfl commented on #148
This sounds like a good way to deal with it. We have experienced steerings in the past, which were not very productive, because there was hardly news to discuss and decide.
I would add your explanation to the existing page, @huntons.

[2015-10-05 15:34] huntons commented on #148
@huberfl Let's get the PM/Scrummaster experts group kicked off so we can start addressing best practices for project delivery around the group. I'll start this by sending a group mail and asking for a volunteer from each country. Once we have the initial group then we can schedule a hangout and perhaps a meetup in the near future to work out how we deliver, review and improve our processes and app

[2015-10-05 15:56] huberfl commented on #148
Alright. Then let's stick to the current description and close this issue "won't fix".

[2015-10-05 15:56] #148 closed

[2015-10-06 08:27] huntons commented on #147
@huberfl How does the Project Lead differ from the Tech Lead?

[2015-10-08 09:17] huberfl commented on #147
As I see it, these two roles are the same - given that our scrum master also deals with project management tasks (e.g. reporting, invoicing, staffing). If we strictly separate it, reporting and similar admin tasks would need to go to another role, e.g. PMO (project management officer).

[2015-10-08 13:43] badrange commented on #73
Links are still missing. @heikkiyrjola @steveparks help?

[2015-10-09 08:42] steveparks commented on #73
Aha - these were documents created by @WunderLemon and there was a point where some folders in her google drive were deleted rather than moved, by a quirk of google drive UI. So maybe Alex has copies, or she and I can work to reconstruct them?

[2015-10-09 12:39] joesb opened #149 "Information Architecture restructure to include stuff for role-specific knowledge"
This is a pitch to think about restructuring WunderWay a bit to accommodate knowledge, tools and best practices for role-specific tasks, based around the [WunderExperts groups](http://way.wunder.io/about-this-site/wunder-experts-groups/).

For example, we could look at something like …

- Working at Wunderkraut
- Working with clients
- Delivering project
  - Project management
    - most current s

[2015-10-09 12:44] joesb opened #150 "Best Practices: Drupal 8 with Composer"
Add a section/pages for best practices on building D8 with Composer

- local dev
- deployment
- CI
- why it kicks drush makes ass
- Platform.sh D8 with Composer recipe(s)
- signposting to tools
- gotchas
- learning from & linking with drupal.org best practices
  - let's not get too WK-specific, and make sure we're at parity with the best practices in the wider Drupal *and* PHP communities

Relates

[2015-10-09 12:46] joesb opened #151 "Best Practices: Drupal 8 configuration management"
Configuration management:

- where do you put it?
- how do you deploy it?
- anything should be left out?
- gotchas?
- handling environment-specific configuration

Depends on #149

[2015-10-09 12:49] joesb opened #152 "Best Practices: Drupal 8 custom code"
Custom code:

- where do you put it?
- how do you split it up?
- how do you keep it clean from contrib, etc etc.?
- gotchas?
- working with dependency injection
- how's it different from D7?

Worth blogging on?

Depends on #149
Relates to #151

[2015-10-09 13:35] joesb commented on #149
This issue was created by me and @floretan in discussion about pushing forward with WunderWay stuff on technology best practices (especially with Drupal 8 in mind).

This is a shout-out to people in the various WunderExperts groups for opinions on this issue.

@huntons - keeper of The Way; operations
@lewisnyman - UX and Design
@alicerichmond - UX and Design
@WunderLemon - Editorial
@floretan - Te

[2015-10-21 10:46] WunderLemon commented on #73
Sorry for slowness in replying to this. It slipped my notice.
I remember through the mists of time what these docs were about in general, but I'm afraid I don't have anything for them anymore.
When I stopped Wunderworking for a while in June 2014, everything attached to my Wunder Google account was erased. I never had these docs on my hard drive either.
I'd recognise them if I saw them again, but

[2015-10-21 14:06] steveparks commented on #73
Yes unfortunately there was a problem with the way google docs handles transferring ownership of a whole folder of documents.
So - unfortunately we need to re-create the documents. @WunderLemon can you ping me in hipchat to schedule a time next week to work on this together?

[2015-10-21 14:23] WunderLemon commented on #73
@steveparks I'm tracking the docs back to source – i.e. I've emailed Amy Nicholls to see if they originated with her. She's going to dig around her hard drive tonight. I'll report back…

[2015-11-02 07:11] sjugge opened #155 "Setting WunderWay repo to private?"
Because reasons, we (WK BE), would like to have the WunderWay repo private.

We currently use a MediaWiki install and google drive for managing documentation, which allows us to keep certain sensitive data private. To jump aboard with migrating this info (which includes personal details and other information that should not be available publicly) to WunderWay, privacy of the repo would be a criter

[2015-11-02 10:11] huntons commented on #155
@sjugge the thinking all along has been to make the WW open to the public, to give something other than Drupal back to the community. The WW should only be referencing process documentation/tools and not sensitive information. We use Google Drive permissions to restrict access to anything others shouldn't see. We'll need to talk about this in more detail as we begin to implement information securi

[2015-11-02 10:28] sjugge commented on #155
@huntons setting the repo private would still allow to have the github pages instance public, as well as allow access to contributors as it is now. I think it could be a middle ground that would allow the WW to gain traction as offices could work behind the scene and push public what can be shared.

Personal information is possibly the extremest of examples that is better managed elsewhere but the

[2015-11-02 10:40] huntons commented on #155
Thanks @sjugge that makes sense. We absolutely need to keep certain information private and keep it out of WW. We should have some guidance on the site about what should and shouldn't be available on WW. I'll draft something on that.

[2015-11-05 08:20] #95 closed

[2015-11-05 08:28] tharna opened #156 "Fix urls for Ansibleref and Ansible in new project startup instructions"
Links for Ansibleref and ansible point to old gitlab repositories. Both projects are since open sourced and hosted on github.

[2015-11-05 10:49] huntons opened #159 "Encrypting data"
Comments in emails from @vesapalmu and Jeroen suggest that we need to implement a policy for mandatory encryption/protection of Macs and mobile data hardware.

Vesa:

"An external storage card was found today from one of our offices. The card was not encrypted and contained data from a number of our customers. Basically anyone who found the card would have had access to the customer data. Small me

[2015-11-05 10:50] vesapalmu commented on #159
We do have the official security policy agreed by all countries already years ago:
https://docs.google.com/document/d/1fvCbTTWlxhK-kI_O4xkaD19b3bRq-r8i6-EFuBJggTw/edit - This could be just copied and expanded to add instructions on how to do it?

[2015-11-05 11:04] Yaroon commented on #159
For Macs: make FileVault mandatory, make Find My Mac mandatory for remote wiping (as per the security policy)
For iPhones: iOS 8 and up even Apple can't decrypt, make Find my iPhone mandatory for remote wiping, make Touch ID logins mandatory (I can see and remember someone tapping a 4 digit login code easily, way harder with Touch ID)
For Android phones: Turn off that thingy that draws the shape f

[2015-11-05 11:15] iler commented on #159
For Android:
- Use https://play.google.com/store/apps/details?id=com.google.android.apps.adm
- Enable encryption http://www.androidcentral.com/how-enable-encryption-andorid
- Enable autolock
- Use PIN for screen lock

[2015-11-05 11:22] iler commented on #159
Asked @tharna (Janne) to comment regarding linux systems.

[2015-11-05 11:25] frega commented on #159
I rarely have a need for removable storage devices these but have happily used hardware-encrypted USB sticks for peace-of-mind and cross-platform compatibility (mounting linux' encrypted usb sticks on other os can be painful ...).

These devices are obviously more expensive (and admittely can't really be fully 'audited' by us) but are, imho, well worth the extra buck (e.g. http://www.amazon.de/iSt

[2015-11-05 12:52] tharna commented on #159
For linux I recommend doing full disk encryption using dm-crypt/LUKS.
For theft protection I have been using Prey (https://preyproject.com/). Works across multiple platforms and also has centralized management for businesses. I would recommend investigating if this could be used as a standard tool accross company. Free tier doesn't offer remote wipe, but 5$/month gets you that too.
Haven't got nee

[2015-11-05 16:11] huntons commented on #159
@Yaroon For those enabling FileVault, should we recommend that users store a copy of their user account password or recovery key on Apple’s servers when they enable FileVault? Obviously, they'd be stuck if those were forgotten. If users are working with sensitive information, how big a risk is it to store these with Apple? Is there an alternative?

[2015-11-05 22:31] Yaroon commented on #159
@huntons I don't think anything gets stored at Apple when enabling FileVault.

You can unlock your computer with your user account's password, or in case you forget your password, you can unlock it with your Apple ID. In case you forget your Apple ID there is a service to recover that as well.
I also suggest people set up 2-factor authentication for their Apple ID with one or more of their iOS dev

[2015-11-21 19:06] huberfl commented on #83
I think that we can close this issue, because it was addressed in PR #160

[2015-11-21 19:06] #83 closed

[2015-12-23 09:53] #65 closed

[2015-12-23 09:57] lewisnyman opened #168 "Add our evaluation process"
I think in Germany there is a nice process for evaluating software that we don't really have in the UK. I'm thinking something lie

1. An assessment of all services that cover the need. eg. [Chat evaluation](https://docs.google.com/spreadsheets/d/1MVgrHS4lLghQv6VmZ5l1qnwflPvB3OqQdS18MaDv7Kw/edit#gid=0)
2. Choose one for a full trial
3. Final evaluation of the tool eg. [flock evaluation](https://do

[2015-12-23 10:08] huntons commented on #168
For quality management we will need to do a review once we've implemented and used the selected tool and we should have a record of the assessments so we can look back later at the reasons for selecting or rejecting a tool.

[2016-01-04 14:24] lewisnyman commented on #98
I have time at the right now to run a full usability test on this. I might try and combine this with the sales retreat coming up this week or the day before the wundersites discovery in Finland.

[2016-01-11 10:23] lewisnyman opened #169 "Improve the winning new clients page"
Feedback from Teija from the sales retreat.

![2016-01-07 17 17 50](https://cloud.githubusercontent.com/assets/632390/12231140/307348d6-b84d-11e5-93ee-767f92a0aa0c.jpg)

[2016-01-22 16:56] mikebell commented on #77
I've added in a gulp task called ```linkchecker``` it crawls the site and then reports back any links that 404.

I've also been trying to get it integrated with Travis CI but not having much luck with it. I'd prefer to use something a bit more reliable like Jenkins. I'll talk to @joesb when he's back about it.

[2016-01-23 20:11] steveparks opened #171 "Reinstate deleted presentation skills page and skills section"
A while back I wrote a very detailed page on presentation skills after a request from others.

Since then the navigation structure has been changed, and the page seems to have been deleted.

The original commit that included it is:
https://github.com/wunderkraut/WunderWay/commit/3eb1d141089ce6746dd625a1e4a73ee0acd0428a

It seemed to be removed in this commit:
https://github.com/wunderkraut/WunderW

[2016-01-23 20:15] steveparks opened #172 "How is time tracking done?"
Opening this ticket after feedback from colleagues...

What are the requirements in each office for time tracking? People often come from a culture of obsessive time tracking, and wonder if they are doing something wrong here.
Some offices have to do time tracking to a certain extent by law. Others (eg the UK) work on time booked by the day, rather than time tracking by the minute.

We could do wi

[2016-01-23 20:17] steveparks opened #173 "Travel tips for each of our offices"
Opening this ticket based on an idea from @mikebell ...

We all have to travel to different offices from time to time. It'd be great if each office maintained a page of travel tips... how to get from the airport... where to stay... where to eat nearby... what kind of travelcard to buy... best contact people for helping with arrangements... and anything to make visiting other offices as sooth and w

[2016-01-26 14:46] mikebell commented on #76
@huntons I'm happy to pick this up. Some of the things I've been working on would be better if we moved from using github pages.

Let me know what you think.

[2016-01-26 16:55] steveparks opened #178 "Update the About The Company section"
This currently has outdated info about the UK, and needs to be updated, and for the group.

I'll work on a PR for it using this issue.

[2016-01-27 12:12] #156 closed

[2016-01-27 14:03] huntons commented on #76
@mikebell Go for it!

[2016-01-29 14:44] huberfl opened #181 "HipChat: Document user naming conventions"
We have agree to use the pattern [FirstnameLastname] in unified 8-bit ASCII for our user names. The full name will still reflect country specific characters.
This needs to be documented in the WunderWay

[2016-02-17 17:46] huntons opened #183 "ISO9001: Simplify Project Folder Structure"
I suggest that we simplify the folder structure in line with what we've actually been using. It'll make it far easier to find files and documents. Amend to:

Project Name

[2016-02-19 10:02] huberfl commented on #183
I am in strong favor of simplification and like the new layout, which only has one level as a starting point.
I could imagine some refinements:
* renaming "Slides Template" to "Templates" and place any template here.
* "Supporting Docs" sounds a little bit like "other documentation". Can you specify this in more detail, please?
* can we add a section "Developer Documentation" and / or "Support & M

[2016-02-19 10:25] huntons commented on #183
Thanks @floretan At the moment this is not for WunderWay, it's just for our ISO system in the UK but it's worth considering in the context of WunderWay too. I'll raise a separate issue for that

[2016-02-23 14:09] huberfl commented on #181
We also need to consider the naming conventions for customers in order to make their identification easier.

[2016-03-01 10:15] lewisnyman opened #184 "Consider prose.io for an editing workflow"
Prose.io seems to offer the features mosts people need for editing and creating pages without the hassle of having to understand branches and pull requests. It could help reduce barriers if we make this the official tool for editing the wunder way.

[2016-03-03 10:50] #183 closed